body{
    background-color: #13141b;
    color: #ffffff;
    background-image: url(images/bg-image.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

.form-control{
    background-color:rgba(255, 255, 255, 0.2);
    padding: 22px;
    border: none;
    border-radius: 25px;
}
.btn{
    border-radius: 1.5rem;
    padding: 9px 20px;
}

.btn-privious{
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}
.navbar-toggler {
    border: none;
}
.search-box{
    position: relative;
}
.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.single-result{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}

.lyrics{
    margin-top: 10px;
}

#show_lyrics_div{
    display: none;
    width: 100%;
    padding: 40px 60px;
    background-color:  rgba(255, 255, 255, 0.2);;
}
#show_lyrics_div pre{
    text-align: center; 
    color:rgb(255, 255, 255);
    font-size: 16px;
  
}
#show_lyrics_div h2{
    text-align: center;
}
#back_btn{
    font-size: 20px;
    padding: 0 40px  5px 40px;
    position: fixed;
}